{% extends 'portfolio/base.html' %}

{% block content %}
{% load static %}
<h1 class="fh5co-heading animate-box" data-animate-effect="fadeInLeft">Contact Me Via :</h1>
<div class="fh5co-feature animate-box" data-animate-effect="fadeInLeft">

    <div class="fh5co-icon">
        <a href="https://t.me/hkavand" target="_blank"><i class="icon-phone"></i></a>
    </div>
    <div class="fh5co-text">   
        <br>
        <h2 class="fh5co-heading-colored">Telegram</h2>
        <span><small>(click on the icon)</small></span>       
    </div>


</div>
<div class="fh5co-feature animate-box" data-animate-effect="fadeInLeft">

    <div class="fh5co-icon">
        <i class="icon-globe"></i>
    </div>
    <div class="fh5co-text">   
        <br>
        <h2 class="fh5co-heading-colored">Email: kavand.hossain@gmail.com </h2>
        <br>
             
    </div>
</div>

<div class="fh5co-feature animate-box" data-animate-effect="fadeInLeft">

    <div class="fh5co-icon">
        <a href="https://www.instagram.com/hossein___kavand/" target="_blank"><i class="icon-instagram"></i></a>
    </div>
    <div class="fh5co-text">   
        <br>
        <h2 class="fh5co-heading-colored">Instagram </h2>
        <span><small>(click on the icon)</small></span>       
    </div>
</div>



{% endblock %}
